@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
}

:root {
  /* Premium Dark Theme "Stadium Night" */
  --background: #050505; 
  --foreground: #ffffff;
  --card: #121212;
  --primary: #10b981; /* Emerald 500 */
  --secondary: #1f1f1f;
  --muted: #a1a1aa;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
  overflow-x: hidden;
  /* Mobile optimization */
  -webkit-tap-highlight-color: transparent;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}
